# Environnements virtuels
venv/
.venv/
env/
ENV/
*/venv/
*/.venv/
mio_env/
*/mio_env/

# Cache Python
__pycache__/
*.pyc
*.pyo

# Fichiers système macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Secrets / config
.env
